.user {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	font-weight: 400;
	font-size: 36px;
	color: #ffffff;
	text-transform: uppercase;
	@media screen and (max-width: 1300px) {
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 20px;
	}
}

.title {
	text-align: center;
	font-size: 60px;
	line-height: 70px;
	color: #000000;
	max-width: 260px;
		@media screen and (max-width: 1300px) {
		font-size: 40px;
	}
}

.el {
	border: 1px solid #333333;
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 7px;
	background: #ffffff;
	border: 1px solid #333333;
	box-sizing: border-box;
	border-radius: 15px;
	padding: 10px 20px;
	align-items: center;
	cursor: pointer;
}
